h1 {
    font-size: 50px;
} 


body {
    background-image: url("img/sakura3.jpg");
    background-size: cover;
    color: rgb(37, 41, 40);
}


img {
    width: 45%;
    height: 50%;
}


.image2 {
    width: 520px;
    margin-left: 10px;
}

.image3 {
    width: 440px;
    margin-left: 90px;
}
